<div class="container has-text-centered">
  <div class="column is-4 is-vcentered is-offset-4">
    <div class="box">
      <p class="subtitle is-4">Пароль успешно сохранен</p>
      <br>
      <a href='/' class="button is-primary is-medium is-fullwidth">Home</a>
    </div>
  </div>
</div>

 
