<div class="container has-text-centered">
  <div class="column is-4 is-vcentered is-offset-4">

    <div class="box">
      <p class="subtitle is-4">Новый менеджер сохранен в системе</p>
      <br>
      <form>
        <div class="field">
          <p class="control has-icons-left">
            <p>Данные для входа</p>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <p>Email: {{email}}</p>
          </p>
          <p class="control has-icons-left">
            <p>Пароль для входа: {{password}}</p>
            <p>Необходимо сменить пароль после первого входа в систему!</p>
          </p>
        </div>
        <a href='/' class="button is-primary is-medium is-fullwidth">Home</a><br>
      </form>
    </div>
  </div>
</div>

 
