<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="container">
      <div class="column">
        <div class="box">
          <form action="" method="">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">{{name}}</label>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <a href="/auth/passChange" class="button is-link">Сменить пароль</a>
                  </div>
                </div>
              </div>
            </div>
               <div class="block">
              <div class="field">
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link is-light"><a href='/'>Отмена</a></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
